.div-home {
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;
}

.div-home h1 {
  font-size: 50px;
  font-weight: 650;
}

.div-home h2 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 450;
}

.div-home h3 {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 350;
}
