#audioplayer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-color: #224099;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  border: 1px solid black;
  height: 15px;
  width: 10px;
  margin-top: -5px;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  margin-top: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #00bfff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#preview-track-image {
  position: absolute;
  padding: 14px 0 0 13px;
  height: 50px;
  width: 50px;
}

#media-title {
  position: absolute;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 80px;
}

#slider {
  display: inline-block;
  width: 100%;
}

#slider-bar {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
}

#media-buttons {
  width:45%;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  color: white;
  outline: none;
  margin-right: 340px;
}

#button-repeat-off, #button-repeat-on, #button-next {
  font-size: 10px;
}

#button-repeat-off {
  color: orange;
}

#mute-button {
  position: absolute;
  margin-left: 450px;
}

#volume {
  display: inline-block;
}

#volume-bar {
  margin-top: 28px;
  margin-right: 20px;
}

#text-timer {
  margin-top: 30px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
}
