#audioplayer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-color: #224099;
}

#preview-track-image {
  position: absolute;
  padding: 10px 0 0 12px;
  height: 55px;
  width: 55px;
}

#media-title {
  position: absolute;
  color: white;
  font-size: 15px;
  margin-top: 28px;
  margin-left: 80px;
}

#slider {
  display: inline-block;
  width: 100%;
}

#slider-bar {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
}

#media-buttons {
  width:45%;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-right: 450px;
  color: white;
  outline: none;
}

#button-repeat {
  font-size: 10px;
}

#button-next {
  font-size: 10px;
}

#text-timer {
  margin-top: 30px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
}
