#audioplayer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  -webkit-appearance:none;
}

#audio-bar {
  height: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #0252d6;
  height: 55px;
}

audio::-webkit-media-controls-current-time-display {
  color: white;
}

audio::-webkit-media-controls-time-remaining-display {
  color: white;
}
