div {
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0px 0px 50px;
  color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

#button-signup {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  color: #224099;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 20px 0px 0px;
}

#button-login {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: hsla(0,0%,100%,.2);
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 20px 0px 0px;
}

#button-logout {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 3px 10px 3px 10px;
  background-color: #fff;
  color: #224099;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 20px 0px 0px;
}

.list-error {
  position: absolute;
  margin-top: 20px;
  margin-left: 550px;
  color: #b30000;
}
