div {
  font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#image-user {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 12px;
  border-radius: 20px;
}

#logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0px 0px 50px;
  color: #fff;
}

#link-logo {
  text-decoration: none;
}

#logo-fixed {
  display: inline;
  margin-right: 10px;
  font-size: 16px;
  color: #e6e6e6;
}

#link-stations {
  display: inline-block;
  font-size: 16px;
  margin: 25px 0 0 50px;
  color: #e6e6e6;
  text-decoration: none;
}

#now-playing {
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 980px;
  color: #e6e6e6;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

#button-signup {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  color: #224099;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 20px 0px 0px;
}

#button-login {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: hsla(0,0%,100%,.2);
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 20px 0px 0px;
}

#button-logout {
  display: inline-block;
  width: 70px;
  text-align: center;
  padding: 3px 10px 3px 10px;
  background-color: #fff;
  color: #224099;
  border-radius: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 65px 0px 0px;
}

.list-error {
  text-align: center;
  margin-top: 20px;
  color: #b30000;
}
