.container-image {
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
}

.img-image {
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 50px;
}

.text-image {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  color: #fff;
}

#name-station {
  margin-top: 20px;
  display: block;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#link-edit {
  display: inline;
}
