.container-image {
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
}

.img-image {
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-left: 50px;
}

.text-image {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  color: #fff;
}

.links-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.link-details {
  margin-left: 50px;
}

#name-station {
  color: #fff;
  font-size: 40px;
  display: block;
  text-align: center;
}

.link-edit {
  font: sans-serif;
  font-size: 20px;
  font-weight: normal;
}

#body-station {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

#img-station {
  float: left;
  width: 270px;
  height: 270px;
  padding: 20px;
}

#description-station div {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
}

#description-station {
  width: 30%;
  color: #fff;
  padding: 20px;
}

#delete-station {
  margin-top: 147px;
  margin-left: 525px;
  height: 20px;
}

#img-loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
